*{margin: 0;padding: 0;}
body{width:1280px;margin: 0 auto;padding: 0;}
.warp{
	
	margin: 0 auto;
	padding: 0;
	background: url('../images/1.jpg') no-repeat,
	url('../images/2.jpg') no-repeat;
	background-position:15px 0,bottom right;
}
.head,.flash,.color_c,.product,.group,.footer{width: 1000px;margin: 0 auto; padding: 0;}
.head{
	background-color: white;
	
}
.head nav a{height: 40px; line-height: 40px;color: #333;text-decoration: none;}
.flash{
	height: 300px;
	background: url('../images/3.jpg') no-repeat;
	background-size: 100% 100%;
}

.info{

	position: relative;
	top: 60%;
	left: 43%;
	width: 100px;
	border: 1px white solid;
	border-radius:5px;
}
.info h4{
	font-weight: normal;
	margin: 10px;
	text-align: center;
	color:white;}

.color_c{
	height:40px;
	background-image:repeating-linear-gradient(90deg, yellow,#FB7B27 ,red);
	border-bottom:20px white solid;  
}


.product{
	text-align: center;
	height: 30px;
	background: repeating-linear-gradient(130deg,transparent, transparent 5px, red 6px, red 10px );
}
.product h5{ line-height: 30px;font-size: 20px;/*font-weight: 300px;*/ }


.group{text-align: center;}
.group p{margin-top: 40%;}
.g_one,.g_two,.g_three,.g_four{width: 100px;height: 100px; border-radius:50%;float: left;margin: 50px;}
.group .g_one,.group .g_three{background-image: radial-gradient(red 10%,yellow,#7CF580 80%);}
.group .g_two{background: repeating-radial-gradient( circle, transparent, transparent 2px, gray 4px, gray 8px );}
.group .g_four{background: repeating-radial-gradient( circle, transparent, transparent 2px, red 4px, red 8px );}


.footer{clear:both;background-color: black; text-align: center;}
.footer p{text-align: center;line-height: 40px;color: white;font-weight:;} 