*{
	margin: 0px;
	padding: 0px;
}
ul,li{
	list-style: none;;
}
a{text-decoration: none;}
.clear{ clear: both; }
body{ 
	background: url(../images/bj2.jpg) no-repeat;
	background-size:100% auto;
		 }
/**/
.head{ 
		width: 900px;
		margin: 10px auto;
		position:relative;
	}
.head_nav{
    position:absolute;
	left: 600px;
	top:60px;
}
.nav{
	background-color:#004e87;
	width: 100%;
	height: 45px;
	line-height: 45px;
}
.nav ul{
	padding-left: 60px;
	width: 1000px;
	margin: 0 auto;
		text-align: center;
}
.nav ul li{
	width: 120px;
	display:inline-block;
	position: relative;
	text-align: center;
}
.nav ul li:hover ul{
	display: block;
	position: absolute;
	width: 60%;
}
.nav a{

 color:#FFFFFF;
	}

.nav ul  li ul{
	background-color: #004e87;
	display: none;
	width: 40%;
}
.nav ul  li ul li{
	text-align: left;
	float: none;
	width: 100%;
}

.head ul li{
	padding-left: 20px;
   display:inline-block;
}
.head_nav_hone{ 
		background: url(../images/home.png) no-repeat; }
.head_nav_contact{
		background: url(../images/contact.png) no-repeat;  }
/*content*/
.content{
	width:900px;
	margin: 0 auto;
	margin-top: 55px;}
.content .banner{
	text-align:center;
	width: 900px;
	margin: 0 auto;
}
.content .content_head{
	color:aliceblue;
	border-bottom: 1px solid #cdcdcd;
	padding-bottom: 7px;
	position: relative;
}
.content span{
	/*background: url(../images/wolrd.png) no-repeat;
	background-size: 18px;*/
	padding-left:10px;
	padding-right: 10px;
	margin-top: -5px;
	color: black;
}
.content .down{ 
position: relative;
bottom: -20px;
left: -120px;}

.content .intro{
	width:200px;
	float: left;
	margin: 20px 12px 10px 12px;
}
.content .intro h2{
	font-size: 17px;
 padding-top:14px;}
.content .intro p{
	color:#888;
	font-size: 14px;
	line-height: 28px;
}
.content .intro p a{
	color:#004e87;
}
/**/


/*footer*/
.warper .footer {
	background-color:#004e87;
	color:#FFF;
	padding:40px;
	
}
.warper .footer span {
}
.warper .footer .foot {
	margin: 0 auto;
	width:900px;
}
/**/
