*{margin:0;padding: 0;}
a{text-decoration: none;}
ul{list-style: none;}
body{}
header{
	background-color: #009fca;
	margin:0;padding: 0;
	height: 80px;
}
.active{	background: rgba(255,255,255,0.3);
	border: 1px solid white;}
.logo{background-image: url('../images/logo.png');width:145px;height:61px; position: absolute;left: 15%;margin: 10px;}
.nav{width: 600px;margin: 0 auto;padding-left:100px;padding-top:20px;height: 50px;line-height: 30px;}
.nav ul{height: 100px;}
.nav ul li{

	margin: 1px;
	display: inline-block;
	width: 110px;
	text-align: center;
	border-radius:100px;
	
}
.nav ul li:hover{
	background: rgba(255,255,255,0.3);
	border: 1px solid white;
	}
.nav ul li a{
		display: block;
		color: white;
		font-size: 16px;
	}





.content{
	background-color: #00acda;
	color: white;
	margin: 0 auto;
	padding: 40px;
}
.content-head{
	margin:0 auto; padding: 0; 
	border-radius:2%;
	width:80%;
	height: 150px;
	background-color: #33c3e3;
	border: 1px solid #85d7ed;


}
.content-head center{
	margin:0 auto; padding: 0;
	width: 600px;
}
.content-head h1,
.content-head h3,
.content-head span{
	margin-top: 20px;
}
.content-head h1{font-weight:normal;}
.content-head h3{letter-spacing:2px;}
.info{position: absolute; left: 70%;margin: 10px;}
.info a{color: white;}

.B_BOX{margin:0 auto; padding: 0; width: 1000px;padding-top: 50px;}




.btn{
	height:100px;
	margin:0 auto; padding: 0; 
	width: 1000px;

}
button{
	width: 30px;
	height: 25px;
	border-radius: 20%;
	background-color: white;
}


footer{background-color:  #009fca;color: white;}
.contacet{width: 1000px;margin: 0 auto;padding: 0;background-color:  #009fca;}
.contacet h3{
	width: 900px;
	margin: 0 auto;padding: 15px;
	border-bottom: 1px solid black;
}
.contacet h3 img{width: 10%;}
.contacet h3 a{
	position:absolute;
	left:410px;
	color: #a3ecff;
	font-size: 10px;
	padding-top: 15px;
}
.act{width: 900px;margin: 0 auto;padding: 0;}
.left,.center,.right{float: left;width: 300px;}
.clear{clear: both;}

.left ul {padding: 10px;}
.left ul li{
	line-height: 40px;
}
.center{

}
.center h4{margin: 20px;}
.center ul{padding-left: 20px;}
.center ul li a{color: #a3ecff;}


.right h4{margin: 20px;

}
.right img{width: 87px;display: block;}
.right p{
	padding-left: 10px;
	text-align: center;
    float: left;
    margin:10px;
    font-size: 12px;
}



















/*--box---*/
	.box1 {	
		float: left;	
		width: 180px;
		height: 220px;
		background: #ce0000;
		margin: 35px;
		position: relative;
		box-shadow: 5px 5px 5px #444444;

	}
	.box1 a img{
		width: 180px;
		height: 220px;
	}
	.box2{
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
overflow: hidden;
		width: 176px;
		height: 50px;
		background: #272727;
		position: absolute;
		bottom: 0;
		overflow: hidden;
		color: white;
		padding-left: 4px;
		opacity: 0.8;
	}
.box2 h4{margin-top: 5px;}
.box2 p{font-size: 10px;margin-top: 5px;}
	.box2:hover{
		height: 80px;
		transition: all 1s linear;
	}
/*--box- end--*/